@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ScenarioViewModel

<h1>New Scenario</h1>

<form method="post">

    <div class="row g-3 my-3">

        <div class="col-md-8">
            <label for="Label" class="form-label">Label</label>
            <input type="text" class="form-control" required asp-for="Label">
        </div>
        <div class="col-md-4">
            <label for="SheepPurchaceAmount" class="form-label">Sheep Purchaced</label>
            <input type="number" min="0" step="1" class="form-control" required asp-for="SheepPurchaceAmount">
        </div>

        <div class="col-md-4">
            <label for="SheepPurchacePricePerKg" class="form-label">Price Per Kg @@ Purchace</label>
            <div class="input-group">
                <span class="input-group-text">R</span>
                <input type="number" required class="form-control" asp-for="SheepPurchacePricePerKg">
            </div>
        </div>
        <div class="col-md-4">
            <label for="SheepPurchaceWeight" class="form-label">Approx. Weight @@ Purchace</label>
            <div class="input-group">
                <input type="number" required class="form-control" asp-for="SheepPurchaceWeight">
                <span class="input-group-text">Kg</span>
            </div>
        </div>
        <div class="col-md-4">
            <label for="SheepPurchaceWeightVariance" class="form-label">Weight Variance @@ Purchace</label>
            <div class="input-group">
                <input type="number" min="0.00" step="any" required class="form-control"
                    asp-for="SheepPurchaceWeightVariance">
                <span class="input-group-text">Kg</span>
            </div>
        </div>

        <div class="col-md-4">
            <label for="FeedPricePerKg" class="form-label">Feed Price Per Kg</label>
            <div class="input-group">
                <span class="input-group-text">R</span>
                <input type="number" min="0.00" step="0.01" required class="form-control" asp-for="FeedPricePerKg">
            </div>
        </div>
        <div class="col-md-4">
            <label for="DailyFeedMethod" class="form-label">Daily Feed Method</label>
            <select class="form-select" required asp-for="DailyFeedMethod">
                <option value="PerWeight">Per Weight</option>
                <option value="FixedAmount">Fix Amount</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="DailyFeedAmount" class="form-label">Daily Feed Amount</label>
            <div class="input-group">
                <input type="number" min="0.00" step="any" required class="form-control" asp-for="DailyFeedAmount">
                <span class="input-group-text">Kg / %</span>
            </div>
        </div>

        <div class="col-md-4">
            <label for="SheepSlaughterLossPercent" class="form-label">Slaughter Loss %</label>
            <div class="input-group">
                <input type="number" max="100.0" min="0.00" step="any" required class="form-control"
                    asp-for="SheepSlaughterLossPercent">
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="col-md-4">
            <label for="ApproxDailyWeightGain" class="form-label">Approx. Daily Weight Gain</label>
            <div class="input-group">
                <input type="number" min="0.00" step="any" required class="form-control"
                    asp-for="ApproxDailyWeightGain">
                <span class="input-group-text">Kg</span>
            </div>
            <div class="form-text">Note: For 60 days it was about <span role="button"
                    onclick="$('#ApproxDailyWeightGain').val(this.innerHTML)">0.416666667</span> and
                90 days at 0.3 Kg per day it was <span role="button"
                    onclick="$('#ApproxDailyWeightGain').val(this.innerHTML)">0.277777778</span>
            </div>
        </div>
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <label for="SheepSalePricePerKg" class="form-label">Price Per Kg @@ Sale</label>
            <div class="input-group">
                <span class="input-group-text">R</span>
                <input type="number" min="0.00" required class="form-control" asp-for="SheepSalePricePerKg">
            </div>
        </div>
        <div class="col-md-4">
            <label for="SheepSaleWeight" class="form-label">Approx. Weight @@ Sale</label>
            <div class="input-group">
                <input type="number" min="0.00" required class="form-control" asp-for="SheepSaleWeight">
                <span class="input-group-text">Kg</span>
            </div>
        </div>
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <label for="AdditionalMutiPricePerSheep" class="form-label">Additional Muti Price (Per Sheep)</label>
            <div class="input-group">
                <span class="input-group-text">R</span>
                <input type="number" min="0.00" step="0.01" required class="form-control"
                    asp-for="AdditionalMutiPricePerSheep">
            </div>
        </div>
        <div class="col-md-4">
            <label for="AdditionalVaxPricePerSheep" class="form-label">Additional Vax Price (Per Sheep)</label>
            <div class="input-group">
                <span class="input-group-text">R</span>
                <input type="number" min="0.00" step="0.01" required class="form-control"
                    asp-for="AdditionalVaxPricePerSheep">
            </div>
        </div>
        <div class="col-md-4">
        </div>

    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" asp-contoller="Scenario" asp-action="Add">Submit</button>
        <a class="btn btn-secondary ms-1" asp-contoller="Scenario" asp-action="List">Back</a>
    </div>

</form>
