@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ScenarioViewModel

<h1>New Scenario</h1>

<form method="post" class="row g-3">
    <div class="col-md-6">
        <label for="Label" class="form-label">Label</label>
        <input type="text" class="form-control" required asp-for="Label">
    </div>
    <div class="col-md-6">
        <label for="CalculationMethod" class="form-label">Calculation Method</label>
        <select class="form-select" required asp-for="CalculationMethod">
            <option value="PerWeight" selected>Per Weight</option>
            <option value="FixedAmount">Fix Amount</option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="SheepCostPerKg" class="form-label">Cost Per Kg</label>
        <div class="input-group">
            <span class="input-group-text">R</span>
            <input type="number" value="45.00" required class="form-control"
                oninput="this.value = parseFloat(this.value).toFixed(2)" asp-for="SheepCostPerKg">
        </div>
    </div>
    <div class="col-md-4">
        <label for="SheepPurchaceWeight" class="form-label">Approx. Purchace Weight</label>
        <div class="input-group">
            <span class="input-group-text">Kg</span>
            <input type="number" value="50.00" required class="form-control"
                oninput="this.value = parseFloat(this.value).toFixed(2)" asp-for="SheepPurchaceWeight">
        </div>
    </div>
    <div class="col-md-4">
        <label for="SheepPurchaceWeightVariance" class="form-label">Purchace Variance Weight</label>
        <div class="input-group">
            <span class="input-group-text">%</span>
            <input type="number" value="0.00" max="100.00" min="0.00" step="0.05" required class="form-control"
                oninput="this.value = parseFloat(this.value).toFixed(2)" asp-for="SheepPurchaceWeightVariance">
        </div>
        <!-- <label for="SheepPurchaceWeightVariance" class="form-label">Purchace Variance Weight (%)</label> -->
        <!-- <input type="range" value="0.0" max="10.0" min="0.0" step="0.05" class="form-range" -->
        <!--     asp-for="SheepPurchaceWeightVariance"> -->
    </div>

</form>
